@import "~taro-ui/dist/style/components/accordion.scss";
@import "~taro-ui/dist/style/components/icon.scss";
@import "~taro-ui/dist/style/components/list.scss";
@import "~taro-ui/dist/style/components/icon.scss";

page{
    height:100%;
    background:#f6f6f6;
}

.at-list {
    background-color: #f6f6f6;
}