@import "~taro-ui/dist/style/components/input.scss";
@import "~taro-ui/dist/style/components/button.scss";
@import "~taro-ui/dist/style/components/loading.scss";

page{
    height:100%;
    background:#f6f6f6;
}

.index {
    .at-input {
        margin-left: 0;
        padding: 24px 15px;
    }
}
