@import "~taro-ui/dist/style/components/flex.scss";
@import "~taro-ui/dist/style/components/icon.scss";
@import "~taro-ui/dist/style/components/button.scss";
@import "~taro-ui/dist/style/components/loading.scss";
@import "~taro-ui/dist/style/components/grid.scss";

page{
    height:100%;
    background:#f6f6f6;
}

.header-outer {
    padding: 20px;

    .header {
        background-color: #fff;
        border-radius: 20px;
        padding: 35px 0;
        box-shadow: 1px 1px 8px 1px rgba(0,0,0,.2);

        .header-middle {
            padding-left: 50px;

            .header-name {
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
    
        .afterIcon-font {
            display: inline-block;
            font-size: 25px;
            color: #ccc;
            margin-left: 10px;
        }
    
        .header-Img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            display: flex;
        }
    
        .editBtn {
            border: none;
        }
        
        .beforeIcon-font {
            display: inline-block;
        }
    }
}

.service-outer {
    padding: 0 20px 0 20px;

    .title {
        border-radius: 20px 20px 0px 0px;
        background-color: #fff;
        box-shadow: 1px 1px 8px 1px rgba(0,0,0,.2);
        border-bottom: 1px solid #f6f6f6;
        line-height: 100px;
        padding-left: 30px;
        font-size: 30px;
    }

    .main {
        overflow: hidden;
        box-shadow: 1px 1px 8px 1px rgba(0,0,0,.2);
        border-radius: 0px 0px 20px 20px;
        background-color: #fff;
    }

    .at-grid__flex .at-grid-item {
        height: 270px;
    }
}