@import "~taro-ui/dist/style/components/rate.scss";
@import "~taro-ui/dist/style/components/icon.scss";
@import "~taro-ui/dist/style/components/flex.scss";
@import "~taro-ui/dist/style/components/button.scss";
@import "~taro-ui/dist/style/components/loading.scss";
@import "~taro-ui/dist/style/components/textarea.scss";

page{
    height:100%;
    background:#f6f6f6;
}

.index {
    padding: 20px;

    .grade {
        padding: 20px;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 20px;

        .gradeFont {
            font-size: 32px;
        }
    }

    .btn {
        margin-top: 50px;
    }
}





