@import "~taro-ui/dist/style/components/tabs.scss";
@import "~taro-ui/dist/style/components/flex.scss";
@import "~taro-ui/dist/style/components/divider.scss";
@import "~taro-ui/dist/style/components/icon.scss";

page{
    height:100%;
    background:#f6f7f9;
}

.head {
    padding: 80px 0;
    background-color: #fff;

    .head-outer {
        margin: 0 auto;
        text-align:center;

        .head-schedule {
            color: #1ccc22;
            font-weight: 600;
            font-size: 55px;
            margin-bottom: 20px;
        }
        .head-time {
            color: #999;
            font-size: 30px;
        }
    }
}
.week {
    text-align: center;
    color: #1ccc22;
    font-size: 35px;
    padding: 30px 0;
    font-weight: 550;
}
.main-schedule {
    background-color: #fff;

    .current-schedule-title {
        background-color: #d9d9d9;
        font-weight: 700;
    }

    .current-schedule {
        padding: 30px 0;
        text-align: center;
        font-size: 30px;
    }

}

.at-tabs__item {
    color: #888;
    font-weight: 700;
}

.at-divider__content {
    font-weight: 500;
}

.at-divider__line {
    width: 70%;
    left: 15%;
}