@import "~taro-ui/dist/style/components/tabs.scss";
@import "~taro-ui/dist/style/components/flex.scss";

page{
    height:100%;
    background:#f6f7f9;
}

.head {
    padding: 120px 0;
    background-color: #fff;

    .head-outer {
        margin: 0 auto;
        text-align:center;

        .head-schedule {
            color: #1ccc22;
            font-weight: 600;
            font-size: 55px;
            margin-bottom: 20px;
        }
        .head-time {
            color: #999;
            font-size: 30px;
        }
    }
}
.week {
    text-align: center;
    color: #1ccc22;
    font-size: 35px;
    padding: 30px 0;
    font-weight: 550;
}
.main-schedule {
    background-color: #fff;

    .current-schedule {
        padding: 20px 0;
        text-align: center;
        font-size: 30px;
    }
}
